<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--xml 주석 -->
<mapper namespace="example.mybatis.MyDao" > <!-- mapper start -->
<!-- namespace "매핑할 인터페이스명의 경로(위치) " -->


    <!-- sql select 매핑 -->
    <!--id="매핑할 추상메소드명" resultType="반환할 타입" -->
    <!-- parameterType="매개변수타입" sql 매개변수 표현 : #{변수명}-->
    <!--1. 등록 -->
    <insert id="save" parameterType="example.mybatis.UserDto">
        insert into user(name,age) values ( #{name}, #{age} )
    </insert>
    <!--2. 전체 출력 -->
    <select id="findAll" resultType="example.mybatis.UserDto">
        select * from user
    </select>

    <!--2-2. 개별 조회 -->
    <select id="findById" parameterType="example.mybatis.UserDto">
        select * from user where id= #{id}
    </select>

    <!--3. 수정 -->
    <update id="update" parameterType="example.mybatis.UserDto">
        update user set name= #{name} , age= #{age} where id= #{id}
    </update>

    <!--4. 삭제 -->
    <delete id="delete" parameterType="int">
        delete from user where id= #{id}
    </delete>

</mapper>  <!-- mapper end -->